#form{
	padding:100px 600px;
	background-image :url(Home.jpg);
	background-size : cover;
	background-position : center;
	height:100%;
}

.text{
	border-radius:10px;
	background-color:black;
	color:white;
	text-align:center;
}